*{
  box-sizing:border-box;
}

html{
  background-color: black;
  color: white;
}

 img{
   box-shadow:10px, 10px, 5px, grey;
 }

 p{
  margin: 40px;
  border: 40px;
  padding-left: 90px;
  padding-right: 90px;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
 }


 a {
   display:inline-block;

 }

 a:hover {
   transform:scale(1.2);
 }

h1{
  font-size: 16px;

}
h2{
  margin: 20px;
  border: 10px;
  padding: 20px;
  font-size: 40px;
  font-family: ballare, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.back {color: white;}
