.back {
    color: white;
}

.special {
    color: white;
    border: 5px dotted #B57EDC;
    border-radius: 20px;
    padding: 40px;
    margin: 70px;
    width: 100px;
}

.special:hover {
  background:#B57EDC;
}

a {
    background-color: ;
    text-decoration: none;
    color: white;
}

h1{
  background-color:#DCD0FF;
}

.background {
    color: black;
    background: #DCD0FF;
    border-radius: 20px;
    padding: 40px;
    margin: 70px;
    width: 100px;
  }

ul {
    display: block;
    list-style-type: none;
    margin: 60;
    margin-top: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    padding: 0;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

html {
    background-image: url(gradientbackground.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: poiret-one, sans-serif;
    font-weight: 400;
    font-style: normal;
}
