*{
  box-sizing:border-box;
  }

img{
  max-width: 100%
}

html{
  background:	#ed1b76;
}

p{
  background:green;
  width:800px;
  font-size:1.5rem;
  padding:2rem;
}

body{
  margin:0px;
}

.container{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  font-size:30px;
}

.item{
  background:#ffffff;
  width:200px;
  height:200px;
  font-size:2em;
}

.object{
  background:	#f44786;
  width:50vw;
  height:50vh;
}

.little-box{
  background:#cc4e00;
  width:50%;
  height:50%;
}

/*higher width must be above-order matters*/
@media screen and (min-width:800px){
  html{
    background:#075447;
  }

  .container{
    flex-direction:column;
  }

  .item{
    width:100%;
  }
}
