html {
  background-image: url('gradientbackground.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: poiret-one, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  background-color: #DCD0FF;
  width: 100%
}

a {
  background-color: ;
  text-decoration: none;
  color: white;
}

ul {
  list-style: square;
}

.background {
  color: black;
  background: #DCD0FF;
  border-radius: 20px;
  padding: 40px;
  margin: 70px;
  width: 100px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {
  background: #eee;
}
