img{
  max-width: 100%
}
body{
  background: orange;

}

p{
  font-size: 30px;
  color: pink;
  font-weight:lighter;
  text-decoration:underline;
  font-style:italic;
  text-align: center;
}

.rotate{
  transform:rotate(30deg);
  color: white;
  display: inline-block;

}
